@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 767px) {
  .block-item-course {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 175px;

    &__img {
      position: absolute;
      width: 350px;
      height: 175px;
      object-fit: cover;
      z-index: 1;
    }

    &__img-overlay {
      border: 1px solid $black;
      position: absolute;
      width: 350px;
      height: 175px;
      z-index: 2;
      background: linear-gradient(to right, rgba(62, 47, 44, 1) 30%, rgba(62, 47, 44, 0.8) 50%, rgba(62, 47, 44, 0.4) 70%, rgba(62, 47, 44, 0)), rgba(255, 255, 255, 0);
      transition: opacity 0.3s ease;
    }

  }
}

@media screen and (min-width: 768px) and (max-width: 1218px) {

}