$primary: #1d1d6d;
$black: #A43A4E;
$white: #FFF9F0;
$white-full: #ffffff;
$brown-8: #FFF9F0;
$grey-1: #202020;
$grey-2: #404040;
$grey-3: #F6F6F6;
$rose: #FFDCCD;
$gradient-rose: linear-gradient(90deg, #FFF9F0 0%, #FFC0A6 100%);
$gradient-blue: linear-gradient(90deg, #FFFFFF 0%, #8181DA 60%, #0303B5 100%);




$grey-4: #a7a7a7;
$Logo-1: #821936;
$Logo-2: #1D1D6D;
$grey-7: #eaeaea;
$brown-7: #E57900;
$brown-2: #CCB29F;
$brown-4: #AB8D7A;



