@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  width: 300px;

  &__title {
    @include title-h3;
    color: $black;
  }

  &__mobile {
    @include title-h4;
    &-link {
      @include  link-red;
    }
  }

  &__email {
    @include title-h5;
    &-link {
      @include  link-red;
    }
  }

  &__address {
    @include title-h5;
    color: $primary;
  }
}