@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @include title-h6;

  &-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    @include title-h6;
  }
}