@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.footer {
  width: 100%;
  background: $rose;
  color: $primary;
  padding: 40px 0 20px;
  margin-top: auto;
  position: relative;
  

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
}

