@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 768px) {
  .footer {
    padding: 30px 0 15px;
    
    &__inner {
      margin-bottom: 25px;
    }
  }
}

@media screen and (max-width: 480px) {
  .footer {
    padding: 25px 0 15px;
    
    &__inner {
      margin-bottom: 20px;
    }
  }
}