@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.button-red {
  @include caption-lg;
  @include link-white-full;
  background-color: $Logo-1;
  border: none; /* Убираем обводку */
  border-radius: 8px; /* Закругляем углы */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Плавный переход для фона и эффекта */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Лёгкая тень для мягкости */

  &:hover {
    background-color: $black; /* Цвет фона при наведении */
    transform: scale(1.05); /* Лёгкое увеличение при наведении */
  }

  width: 136px;
  height: 35px;
  display: flex; /* Для центрирования текста */
  justify-content: center;
  align-items: center;
}

