@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 767px) {
  .main-company {

    &__content {
      flex-direction: column;

      &-info-description {
        overflow: hidden; /* Скрывает содержимое, выходящее за пределы */
        text-overflow: ellipsis; /* Добавляет троеточие в конце */
        display: -webkit-box; /* Используется для многострочного текста */
        -webkit-line-clamp: 2; /* Ограничивает количество строк */
        -webkit-box-orient: vertical; /* Задает ориентацию блока */
        max-height: 3em; /* Дополнительно, чтобы задать высоту для 2 строк */
        line-height: 1.5em; /* Высота строки для расчета строк */
      }

      &-info-options {
        display: none;
      }
    }
  }

  .main-company__content-video {
    display: flex; /* Позволяет адаптировать размер */
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
    //max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .main-company__content-video iframe {
    width: 100%;
    height: auto !important; /* Принудительное уменьшение */
    min-height: 180px; /* Минимальная высота для мобильных */
    max-height: 50vh; /* Ограничение по высоте */
    aspect-ratio: 16 / 9;
    display: block;
    transition: width 0.3s ease, height 0.3s ease; /* Плавная адаптация */
  }
}

@media screen and (min-width: 768px) and (max-width: 1218px) {
  .main-company {
    &__content {
      flex-direction: column;
    }

    &__content-video {
      align-items: center;
      padding-top: 20px;
    }
  }

}