@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 767px) {
  .main-testimonial {
    display: none;
  }

  .main-testimonial-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1218px) {
  .main-testimonial {
    height: 320px;
    margin-bottom: 450px;

  }

  .main-testimonial-mobile {
    display: none;
  }
}

@media screen and (min-width: 1218px) {
  .main-testimonial-mobile {
    display: none;
  }
}

